@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Ubuntu+Mono|Oswald:400,700);

.site-title a, .site-title a:visited {
  color: #444;
  font-size: 48px;
  font-style:normal;
  font-weight:bold;
  font-family: "Roboto";
}
.site-description {
  color: #666;
}

body {
  background: #555;
}
* {
	font-family: 'Roboto';
  font-style: normal !important;
}
p {
    font-size:18px;
    line-height:27px;
    color:#111;
    text-align: justify;
    font-family: 'Roboto';
}
article {
    font-size:18px;
    line-height:27px;
    color:#111;
    text-align: justify;
    font-family: 'Roboto';
}
div p {
    font-size:18px;
    line-height:27px;
    color:#111;
    text-align: justify;
    font-family: 'Roboto';
}
::selection{
    background-color: #222;
    color: #fff;
}
pre *, code *{
    font-size:18px;
    line-height:27px;
    font-family: "Ubuntu Mono"  !important;
}

pre, code{
    font-size:18px;
    line-height:27px;
    font-family: "Ubuntu Mono"  !important;
}

code {
  font-size:18px !important;
  font-family: "Ubuntu Mono" !important;
}

pre {
  margin-top:20px;
  margin-bottom:20px;
}
/******************************* My Custom Part *******************************/


.widget-area a {
  font-size:16px;
  color:#222;
  }
 .entry-title, .entry-title a{
  font-family: Oswald !important;
  color:#333 !important;
  }
  .entry-meta a, .entry-meta a:visited, .entry-footer a:visited {
  color:#444 !important;
  }
.widget-title {
	font-style: normal !important;
	font-size: 18px !important;
	font-family: Roboto !important;
	color: #333 !important;
	text-align: center;
	text-transform: uppercase;
}
.widget-title::before{
	display:none;
}
a.more-link {
  color: #555;
}
h1, h2, h3, h4, h5, h6 {
 font-family:Roboto;
}
h3.subheading {
  font-size:18px;
  font-weight:bold;
}
h3.preheading {
  font-size:25px;
  font-weight:400;
  text-decoration: underline;
}

.site-footer, .site-footer a, .site-footer a:visited {
 color: #333;
}
.entry-content a {
    text-decoration: none;
    color: #009688;
    font-weight: 500;
}
.main-navigation a {
 color:#333 !important;
}

.comment {
		border-top:none;
}

p > code, li > code {
		color: #c0341d !important;
	background: #fbe5e1 !important;
	padding: 2px 4px;
	border-radius: 2px;
}

/* Enter Your Custom CSS Here */